{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Asset"
        ]
    },
    "logs": {
        "text": "php:\/\/stderr",
        "badge": {
            "branch": "master"
        }
    },
    "mutators": {
        "@default": true,
        "CloneRemoval": false
    }
}
